.list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 48px;
}

.listItem {
    background-color: rgba(0, 0, 0, 0.25);
    position: relative;
    border-radius: 48px 0 48px 0;
    padding: 24px;
    padding-top: 48px;
    border: 2px  solid white;
    font-weight: bold;

}

.listItemTitle {
    background: yellowgreen;
    font-weight: bold;
    width: 480px;
    padding: 12px;
    height: 64px;
    border-radius: 12px;
    position: absolute;
    top: -32px;
    left: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}